DATABASE_HOST=jigutory.closjql9emea.us-east-2.rds.amazonaws.com
DATABASE_USER=admin
DATABASE_PASSWORD=dotenv123
DATABASE_PORT=13306
DATABASE_NAME=jigutory

ACCESS_SECRET=abc
REFRESH_SECRET=def
PORT=4000